<h3>Bills (<%= @user.bills.count %>)</h3>
<% if @user.bills.any? %>
      <ol class="bills">
      <% @user.bills.each do |b|%>
      <li><%=b.for%> owes you Rs. <%=b.amount%> | <%=link_to "Delete", bills_destroy_path %></li>
      <% end %>
      </ol>
<% end %>
<%= link_to "Add New Bill", new_bill_path %>

<br/><br>
<h3>Debts (<%= @user.debts.count %>)</h3>
<% if @user.debts.any? %>
      <ol class="debts">
      <% @user.debts.each do |b|%>
      <li>You owe <%=b.to%> Rs. <%=b.amount%>  | <%=link_to "Delete", debts_destroy_path %></li> 
      <% end %>
      </ol>
<% end %>

 <%= link_to "Add New Debt", new_debt_path %>
 
 